$font-family-base: Poppins-Regular;

// -- Colors --
$dark: #1f1e1e;
$red: #ff003d;
$pink: #e83e8c;
$dev: #665eff;
$light-blue: #00c3ff;
$dark-blue: #00396e;
$linkedin: #0A66C2;
$github: #302F2F;

$theme-colors: (
  "dark": $dark,
  "pink": $pink,
  "red": $red,
  "dev": $dev,
  "linkedin": $linkedin,
  "github": $github,
  "light-blue": $light-blue,
  "dark-blue": $dark-blue,
);

$colors: (
  "pink": $pink,
  "red": $red,
  "dev": $dev,
  "linkedin": $linkedin,
  "github": $github,
  "light-blue": $light-blue,
  "dark-blue": $dark-blue,
);

$danger: $red;