@import "./color.scss";
@import "./bootstrap.scss";
@import "./animate.scss";
@import "./custom/scrollbar.scss";

body {
  font-family: 'Poppins', sans-serif;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

body,
html,
#root {
  height: 100%;
  //min-width: 400px;
  //width: auto !important;
}

.page-content {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.18);

  &.light {
    background-color: #ededed;
  }

  &.dark {
    background-color: #1d1e20;
    color: #ededed;
  }
}

.fa-l-icon {
  margin-right: 5px;
}

.fa-r-icon {
  margin-left: 5px;
}


.visible-md {
  display: none !important;
}

.hidden-md {
  display: block !important;
}

@media (max-width: 768px) {
  .visible-md {
    display: block !important;
  }

  .hidden-md {
    display: none !important;
  }
}