.bg {
  height: 100%;
  min-width: 400px;
  transition: all 0.5s ease;
  overflow-y: auto;
}

.bgDark {
  background: #00396e;
  background: linear-gradient(
    351deg,
    #18163b 0%,
    #00396e 100%
  );
}

.bgLight {
  background: #4840da;
  background: linear-gradient(
    351deg,
    #4840da 0%,
    #00c3ff 100%
  );
}
